<form class="form" novalidate [formGroup]="myForm" (ngSubmit)="addPost()">
  <div class="form__item">
    <label class="form__item-label"><h4>title</h4></label>
    <input class="form__item-input" type="text" formControlName="title" />
    <div class="alert"
    *ngIf="
    myForm.controls['title'].invalid &&
    myForm.controls['title'].touched
  ">
  поле не заполнено
</div>
  </div>
  <div class="form__item">
    <label class="form__item-label"><h4>Text</h4></label>
    <textarea class="form__item-textarea" cols="30" rows="10" formControlName="text"></textarea>
    <div class="alert"
    *ngIf="
    myForm.controls['text'].invalid &&
    myForm.controls['text'].touched
  ">
  поле не заполнено
</div>
  </div>

 
  <button class="form__submit btn"
          type="submit"
          [disabled]="!myForm.valid">add</button>
</form>