<div class="coments">
    <form [formGroup]="myForm" novalidate class="coments__form" (ngSubmit)="addComent()">
        <label>оставить коментарий</label>
        <input type="text" formControlName="text">
        <button class="btn" [disabled]="!myForm.valid" type="submit">add coment</button>
    </form>
    <ul class="coments__list">
        <li class="coments__item" *ngFor="let item of coments">
            <div class="coments__item-header">
                <div>{{item.userId}}</div>
                <div>{{item.date|date}}</div>
            </div>
            <div class="coments__item-body">
                <p>
                    {{item.text}}
                </p>
                <button class="btn" (click)="deleteComent(item.id!)">delete</button>
            </div>
        </li>
    </ul>
</div>