@import "../colors.scss";

.container {
  max-width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}


app-table {
  flex-grow: 2;
}
@media screen and (max-width: 1300px) {
  .wrapper {
    flex-direction: column;
  }
}
