/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "./colors.scss";
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}
body{
    background-color: $second-ton;
    color: $nineth-ton;
}

.btn {
    display: block;
    padding: 5px 10px;
    background-color: $second-ton;
    border-radius: 5px;
    border: 1px solid $nineth-ton;
    background: $first-ton;
    transition: all 0.3s;
    &:hover {
      border-color: $nineth-ton;
      color: $first-ton;
      background-color: $nineth-ton;
    }
  }